.mealCard {
    display: flex;    
    flex-direction: column;     
    align-items: left;
    max-width: 300px;   
    border-right: 2px solid #aaa;
    padding: 32px;
}
.mealCard:last-child {
    border: none;
}

.mealCard h2 {
    font-size: 1.6em;
}

.mealCard h3 {
    font-size: 1.2em;
    color: #aaa;
}


.mealCard img {
    width: 280px;
    height: 180px;
    border-radius: 16px;
}

.mealCard button {
    border: none;
    font-size: 1.2em;
    background-color: #e76f51;
    color: white;
    padding: .6em 1.6em;
    border-radius: .2em;
}

.mealCard button:hover {
    background-color: #f4a261;
    transform: scale(1.1);
}